	        <div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    <div id="content"><style type="text/css">
<!--
.oList {
       padding:8px;
}
.oList li{
	font-size:1.1em;
	line-height:1.2em;
}
#buyersrec {
	line-height:1.3em;
}

-->
</style>
<form method="post" action="/home/BuyerFormGetAction.html">
<table width="100%" border="0" cellspacing="0" cellpadding="3" id="buyersrec">
  <tbody><tr>
    <td><br>
	  <p><b>Creating your home wish list</b></p>
<br>
<p>Before the home search begins, your real estate agent will want to know as much as possible about the features and amenities you desire. To help your agent better serve you, analyze what you want and what you need in a home's features and amenities.</p>
<br>
<div class="oList">
    Features:
    <ul>
    <li>Age: Do you prefer historic properties, or newer ones?</li>
    <li>Style: Do you have a special preference for ranches, bungalows, or another style of construction?</li>
    <li>Bedrooms: How many?</li>
    <li>Bathrooms: How many? Are they updated?</li>
    <li>Living and Dining Areas: A traditional, formal layout, or a more open, contemporary plan?</li>
    <li>Stories: How many?</li>
    <li>Square feet: How much space?</li>
    <li>Ceilings: How high?</li>
    <li>Kitchen: How big? Recently updated? Open to other living areas?</li>
    <li>Storage: Big closets, a shed, an extra-large garage?</li>
    <li>Parking: A garage or carport? Room for how many cars?</li>
    <li>Extras: Attic or basement?</li>
    </ul>
    <br>
    Amenities:
    <ul>
    <li>Office</li>
    <li>Play/exercise room</li>
    <li>Security system</li>
    <li>Sprinkler system</li>
    <li>Workshop/Studio</li>
    <li>In-law suite</li>
    <li>Fireplace</li>
    <li>Pool</li>
    <li>Hot tub</li>
    <li>Sidewalk</li>
    <li>Wooded lot</li>
    <li>Patio, deck, or porch</li>
    <li>Laundry room</li>
    </ul>
</div>
    <br> 
  </td>
  </tr>
  <tr>
      <td align="center">
        <input class="button" type="submit" value="Contact us about buying your home" name="Submit">
      </td>
  </tr>
</tbody></table>
</form>
<br>
<br>
</div>

    <!-- ################ END START DYNAMIC CONTENT ################### -->
     
     













</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>
