	        <div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    <div id="content"><style type="text/css">
<!--
.oList {
       padding:8px;
}
.oList li{
	font-size:1.1em;
	line-height:1em;
}
-->
</style>

<form method="post" action="/home/BuyerFormGetAction.html">
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tbody><tr>
    <td>
	
	<div class="oList">
	
	  <p><b>Eight important questions to ask your agent</b></p>
          Qualifications are important.  However, finding a solid, professional agent means getting beyond the resume, and into what makes an agent effective.  Use the following questions as your starting point in hiring your licensed, professional real estate agent:
	  <ol>
	    <li>
            Why did you become a real estate agent?<br>
          </li>
	    <li>
            Why should I work with you?<br>
</li>
	    <li>
            What do you do better than other real estate agents?<br>
 </li>
	    <li>
            What process will you use to help me find the right home for my particular wants and needs?<br>
</li>
          <li>
            What are the most common things that go wrong in a transaction and how would you handle them?<br>
</li>
          <li>
            What are some mistakes that you think people make when buying their first home?<br>
          </li>
          <li>
            What other professionals do you suggest we work with and what are their credentials?
            <br>
</li>
		<li>
            Can you provide me with references or testimonials from past clients?
          </li>
        </ol>
	</div>	</td>
  </tr>
  <tr>
      <td align="center">
        <input class="button" type="submit" value="Contact us about buying your home" name="Submit">
      </td>
  </tr>    
</tbody></table>
</form>
</div>
    <!-- ################ END START DYNAMIC CONTENT ################### -->
     

     













</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>