<div id="leftCol">
<div id="mainNav">
<script type="text/javascript">
    // add the showing of the "pX" left menu for the windows onload event
    womAdd('P7_swapClass(1, "p0", "open", "closed", "li")');
    womOn();
</script>
<div id="kwNav">
<ul>

    <li id="p0" class="open">
        
        
        
        
        <a href="/" onclick="P7_swapClass(1,
                                 &#39;p0&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return true" target="">
            Home
        </a>
        
    </li>

    <li id="p1" class="closed">
        
        
        
        
        <a href="/home/search.html" onclick="P7_swapClass(1,
                                 &#39;p1&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return true" target="">
            Free Property Search
        </a>
        
    </li>

    <li id="p3" class="closed">
        
        
        
        
        <a href="/home/evaluation.html" onclick="P7_swapClass(1,
                                 &#39;p3&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return true" target="">
            Free Home Evaluation
        </a>
        
    </li>

    <li id="p4" class="closed">
        
        
        
        
        <a href="/home/buyer.html" onclick="P7_swapClass(1,
                                 &#39;p4&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return true" target="">
            Buyer Resources
        </a>
        
    </li>

    <li id="p5" class="closed">
        
        
        
        
        <a href="./SellerResourceGetAction.html" onclick="P7_swapClass(1,
                                 &#39;p5&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return true" target="">
            Seller Resources
        </a>
        
    </li>

    <li id="p6" class="closed">
        
        
        <a href="#" onclick="P7_swapClass(1,
                                 &#39;p6&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return false;">
            Schools/Community
        </a>
        <ul>
            

                      <li>

			   
				 <a href="./SchoolMatters.html" id="" title="School Matters">School Matters</a>
			   
			   

                      </li>

            

                      <li>

			   
				 <a href="./FindBestSchools.html" id="" title="Find the Best Schools">Find the Best Schools</a>
			   
			   

                      </li>

            

                      <li>

			   
				 <a href="./Neighborhood.html" id="" title="Neighborhood">Neighborhood</a>
			   
			   

                      </li>

            
        </ul>
        
        
        
    </li>

    <li id="p7" class="closed">
        
        
        <a href="#" onclick="P7_swapClass(1,
                                 &#39;p7&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return false;">
            About the Area
        </a>
        <ul>
            

                      <li>

			   
				 <a href="./AreaLinks.html" id="" title="Area Links">Area Links</a>
			   
			   

                      </li>

            

                      <li>

			   
				 <a href="./reloation.html" id="" title="Relocation">Relocation</a>
			   
			   

                      </li>

            

                      <li>

			   
				 <a href="http://www.paulhuangrealtor.com/atj/user/VendorsGetAction.do" id="" title="Service Providers">Service Providers</a>
			   
			   

                      </li>

            
        </ul>
        
        
        
    </li>

    <li id="p8" class="closed">
        
        
        
        
        <a href="./ContactMe.html" onclick="P7_swapClass(1,
                                 &#39;p8&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return true" target="">
            Contact Me
        </a>
        
    </li>

    <li id="p9" class="closed">
        
        
        
        
        <a href="./FreeHousingTrend.html" onclick="P7_swapClass(1,
                                 &#39;p9&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return true" target="">
            Free Housing Trend &amp; Market Report
        </a>
        
    </li>

    <li id="p10" class="closed">
        
        
        
        
        <a href="./testimonials.html" onclick="P7_swapClass(1,
                                 &#39;p10&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return true" target="">
            Client Testimonials
        </a>
        
    </li>

    <li id="p11" class="closed">
        
        
        
        
        <a href="./AboutPaul.html" onclick="P7_swapClass(1,
                                 &#39;p11&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return true" target="">
            About Paul
        </a>
        
    </li>

    <li id="p12" class="closed">
        
        
        
        
        <a href="./ThePaulHuangTeam.html" onclick="P7_swapClass(1,
                                 &#39;p12&#39;,
                                 &#39;open&#39;,&#39;closed&#39;,&#39;li&#39;); return true" target="">
            The Paul Huang Team
        </a>
        
    </li>

</ul>
</div>
<div id="contactInfo">
<div id="contact1">











<strong>Paul Huang</strong><br>

Phone: <b>781-254-4332</b><br>



Fax: <b>978-759-0233</b><br>




<a href="./ContactMe.html"> Email</a>
<br>
<br></div>
<div id="contact2">







<!-- starting navKwLogo.jsp -->


    <br>


<!-- ending navKwLogo.jsp -->
</div>
<div id="contact3">









<div align="center" class="nav_content">  


	<b>

	 <br><br>
  </b>

 



 </div></div>











<!--[if lte IE 6]>
<script type="text/javascript" src="http://images.kw.com/atj/static/template_content/scripts/pngFix.js"></script>
<![endif]-->







			</div>
        </div>
        





                </div>
                <div id="rightCol">
                    








                </div>
