<div id="mainCol">
<!-- /WRAPPERTOP -->
<!-- ################ START DYNAMIC CONTENT ################### -->





<style type="text/css">
<!--
.oList {
padding:8px;
}
.oList li{
font-size:1.1em;
line-height:2em;
}
-->
</style>




<div id="content">
<div class="oList">

<!-- any changes made here may require changes in the com.kw.websiteTemplate.controller.action.user.AdditionalPageGetAction also due to the way the lead generation code works-->
<div id="main_content">
<p><a href="./ThisMonth.html">This Month In Real Estate</a></p>
<p><a href="./BuyerSteps.html">Eight steps to buying your home</a></p>
<p><a href="./DecideHowMuch.html">Deciding how much house you can afford</a></p>
<p><a href="./CreateWishList.html">Creating your home wishlist</a></p>
<p><a href="./Location.html">Location, Location, Location</a></p>
<p><a href="./Option.html">Opting for new home construction</a></p>
<p><a href="./RealtorHelp.html">How can a real estate agent help me?</a></p>
<p><a href="./EightQuestions.html">Eight important questions to ask your agent</a></p>
<p><a href="./Mortgage.html">Mortgage Calculator</a></p>
<p><a href="./BuyerFormGetAction.html">Contact us about buying a home</a><br>
<br>
<a href="http://output59.rssinclude.com/output?type=direct&id=246909&hash=49d3bc57f927c386aa4c70830f321742">output59.rssinclude.com/output</a><br>
&nbsp;</p>
<p><br>
<iframe height="400" src="./BuyerResourceGetAction_files/output.html" width="400" style="border-bottom: medium none; border-left: medium none; border-top: medium none; border-right: medium none"></iframe><br>
&nbsp;</p>
<br>
&nbsp;
<p><script src="./BuyerResourceGetAction_files/ifr"></script></p>
</div>
</div>
</div>

<!-- ################ END START DYNAMIC CONTENT ################### -->














</div>

<div id="footer">












</div>

</div>  
</div>
</div>

<br>