<div id="mainCol">
<!-- /WRAPPERTOP -->
  <!-- ################ START DYNAMIC CONTENT ################### -->
  <div id="content"><style type="text/css">
<!--
.oList {
     padding:8px;
}
.oList li{
font-size:1.1em;
line-height:1em;
}

-->
</style>

<form method="post" action="/home/BuyerFormGetAction.html">
<table width="100%" border="0" cellspacing="0" cellpadding="3">
<tbody><tr>
  <td>
  <b>Eight steps to buying your home</b><br><br><br>



  <b>1. Decide to buy.</b><br>
      <p>Although there are many good reasons for you to buy a home, wealth building ranks among the top of the list. We call home ownership the best ìaccidental investmentî most people ever make. But, we believe when it is done right, home ownership becomes an ìintentional investmentî that lays the foundation for a life of financial security and personal choice. There are solid financial reasons to support your decision to buy a home, and, among these, equity buildup, value appreciation, and tax benefits stand out.</p>

      <div class="oList">
      Base your decision to buy on facts, not fears.
      <ol>
          <li>If you are paying rent, you very likely can afford to buy</li>
          <li>There is never a wrong time to buy the right home.  All you need to do in the short run is find a good buy and make sure you have the financial ability to hold it for the long run</li>
          <li>The lack of a substantial down payment doesn't prevent you from making your first home purchase</li>
          <li>A less-than-perfect credit score won't necessarily stop you from buying a home</li>
          <li>The best way to get closer to buying your ultimate dream home is to buy your first home now</li>
          <li>Buying a home doesn't have to be complicated - there are many professionals who will help you along the way</li>
      </ol>
      </div>

      <br>

  <b>2.	Hire your agent.</b><br>
  <p>The typical real estate transaction involves at least two dozen separate individuals-insurance assessors, mortgage brokers and underwriters, inspectors, appraisers, escrow officers, buyer's agents, seller's agents, bankers, title researchers, and a number of other individuals whose actions and decisions have to be orchestrated in order to perform in harmony and get a home sale closed.  It is the responsibility of your real estate agent to expertly coordinate all the professionals involved in your home purchase and to act as the advocate for you and your interests throughout.  </p>

          <div class="oList">
          Seven main roles of your real estate agent<br>
          <br>
          A Buyer's Real Estate Agent:<br>
          <ol>
          <li>Educates you about your market.</li>
          <li>Analyzes your wants and needs.</li>
          <li>Guides you to homes that fit your criteria.</li>
          <li>Coordinates the work of other needed professionals.</li>
          <li>Negotiates on your behalf.</li>
          <li>Checks and double-checks paperwork and deadlines.</li>
          <li>Solves any problems that may arise.</li>
          </ol>
  
          <br>
  
          Eight important questions to ask your agent<br>
          <br>
          Qualifications are important.  However, finding a solid, professional agent means getting beyond the resume, and into what makes an agent effective.  Use the following questions as your starting point in hiring your licensed, professional real estate agent:<br>
          <ol>
          <li>Why did you become a real estate agent?</li>
          <li>Why should I work with you?</li>
          <li>What do you do better than other real estate agents?</li>
          <li>What process will you use to help me find the right home for my particular wants and needs?</li>
          <li>What are the most common things that go wrong in a transaction and how would you handle them?</li>
          <li>What are some mistakes that you think people make when buying their first home?</li>
          <li>What other professionals do you suggest we work with and what are their credentials?</li>
          <li>Can you provide me with references or testimonials from past clients?</li>
          </ol>
          </div>
  
      <br>

  <b>3.	Secure financing.</b><br>
      <p>While you may find the thought of home ownership thrilling, the thought of taking on a mortgage may be downright chilling.  Many first-time buyers start out confused about the process or nervous about making such a large financial commitment. </p>

          <div class="oList">
          From start to finish, you will follow a six-step, easy-to-understand process to securing the financing for your first home.<br>
          <br>
          Six steps to Financing a Home<br>
          <ol>
          <li>Choose a loan officer (or mortgage specialist).</li>
          <li>Make a loan application and get preapproved.</li>
          <li>Determine what you want to pay and select a loan option.</li>
          <li>Submit to the lender an accepted purchase offer contract.</li>
          <li>Get an appraisal and title commitment.</li>
          <li>Obtain funding at closing.</li>
          </ol>
          </div>

  <br>

  <b>4.	Find your home.</b><br>
      <p>You may think that shopping for homes starts with jumping in the car and driving all over town.  And it's true that hopping in the car to go look is probably the most exciting part of the home-buying process.  However, driving around is fun for only so long-if weeks go by without finding what you're looking for, the fun can fade pretty fast.  That's why we say that looking for your home begins with carefully assessing your values, wants, and needs, both for the short and long terms. </p>

          <div class="oList">
          Questions to ask yourself<br>
          <ol>
          <li>What do I want my home to be close to?</li>
          <li>How much space do I need and why?</li>
          <li>Which is more critical: location or size?</li>
          <li>Would I be interested in a fixer-upper?</li>
          <li>How important is home value appreciation?</li>
          <li>Is neighborhood stability and priority?</li>
          <li>Would I be interested in a condo?</li>
          <li>Would I be interested in new home construction?</li>
          <li>What features and amenities do I want? Which do I really need?</li>
          </ol>
          </div>
  
      <br>

  <b>5.	Make an offer.</b><br>
      <p>When searching for your dream home, you were just that-a dreamer.  Now that you're writing an offer, you need to be a businessperson. You need to approach this process with a cool head and a realistic perspective of your market.  The three basic components of an offer are price, terms, and contingencies (or ìconditionsî in Canada).</p>

      <p>Price-the right price to offer must fairly reflect the true market value of the home you want to buy.  Your agent's market research will guide this decision.</p>

      <p>Terms-the other financial and timing factors that will be included in the offer.  </p>

          <div class="oList">
          Terms fall under six basic categories in a real estate offer:<br>
          <ol>
              <li>Schedule-a schedule of events that has to happen before closing.</li>
              <li>Conveyances-the items that stay with the house when the sellers leave.</li>
              <li>Commission-the real estate commission or fee, for both the agent who works with the seller and the agents who works with the buyer.</li>
              <li>Closing costs-it's standard for buyers to pay their closing costs, but if you want to roll the costs into the loan, you need to write that into the contract.</li>
              <li>Home warranty-this covers repairs or replacement of appliances and major systems.  You may ask the seller to pay for this.</li>
              <li>Earnest money-this protects the sellers from the possibility of your unexpectedly pulling of the deal and makes a statement about the seriousness of your offer.</li>
          </ol>
          </div>

      <br>

  <b>6.	Perform due diligence.</b><br>
      <p>Unlike most major purchases, once you buy a home, you can't return it if something breaks or doesn't quite work like it's supposed to.  That's why home owner's insurance and property inspections are so important.</p>

          <div class="oList">
          A home owner's insurance policy protects you in two ways:<br>
          <ol>
              <li>Against loss or damage to the property itself</li>
              <li> liability in case someone sustains an injury while on your property</li>
          </ol>
  
          <br>
  
          The property inspection show expose the secret issues a home might hide so you know exactly what you're getting into before you sign your closing papers.<br>
          <ul>
              <li>Your major concern is structural damage.</li>
              <li>Don't sweat the small stuff.  Things that are easily fixed can be overlooked.</li>
              <li>If you have a big problem show up in your inspection report, you should bring in a specialist.  If the worst-case scenario turns out to be true, you might want to walk away from the purchase.</li>
          </ul>
          </div>

  <br>

  <b>7.	Close.</b><br>
      <p>The final stage of the home buying process is the lender's confirmation of the home's value and legal statue, and your continued credit-worthiness.  This entails a survey, appraisal, title search, and a final check of your credit and finance.  Your agent will keep you posted on how each if progressing, but your work is pretty much done.  </p>

          <div class="oList">
              You just have a few preclosing responsibilities:<br>
              <ol>
                  <li>Stay in control of your finances.</li>
                  <li>Return all phone calls and paperwork promptly.</li>
                  <li>Communicate with your agent at least once a week.</li>
                  <li>Several days before closing, confirm with your agent that all your documentation is in place and in order.</li>
                  <li>Obtain certified funds for closing.</li>
                  <li>Conduct a final walk-through.</li>
              </ol>
      
              <br>
      
              On closing day, with the guidance of a settlement agent and your agent, you'll sign documents that do the following:<br>
              <ol>
                  <li>Finalize your mortgage.</li>
                  <li>Pay the seller.</li>
                  <li>Pay your closing costs.</li>
                  <li>Transfer the title from the seller to you.</li>
                  <li>Make arrangements to legally record the transaction as a public record.</li>
              </ol>

          </div>
  <p>As long as you have clear expectations and follow directions, closing should be a momentous conclusion to your home-searching process and commencement of your home-owning experience.</p>

  <br>

  <b>8.	Protect your investment.</b><br>
      <p>Throughout the course of your home-buying experience, you've probably spent a lot of time with your real estate agent and you've gotten to know each other fairly well.  There's no reason to throw all that trust and rapport out the window just because the deal has closed.  In fact, your agent wants you to keep in touch. </p>

          <div class="oList">
          Even after you close on your house, you agent can still help you:<br>
              <ol>
                  <li>Handle your first tax return as a home owner.</li>
                  <li>Find contractors to help with home maintenance or remodeling.</li>
                  <li>Help your friends find homes.</li>
                  <li>Keep track of your home's current market value.</li>
              </ol>
  
          <p>Attention to you home's maintenance needs is essential to protecting the long-term value of your investment.</p>
  
          Home maintenance falls into two categories:<br>
              <ol>
                  <li>Keeping it clean: Perform routine maintenance on your home's systems,   depending on their age and style.</li>
                  <li>Keeping an eye on it: Watch for signs of leaks, damage, and wear. Fixing small problems early can save you big money later.</li>
              </ol>
          </div>





 </td>
</tr>
<tr>
    <td align="center">
      <input class="button" type="submit" value="Contact us about buying your home" name="Submit">
    </td>
</tr>    
</tbody></table>
</form>
<br>
<br></div>
  <!-- ################ END START DYNAMIC CONTENT ################### -->













</div>

<div id="footer">












</div>

</div>  
</div>
</div>

<br>