	        <div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    <style type="text/css">
<!--
.oList {
       padding:8px;
}
.oList li{
	font-size:1.1em;
	line-height:1em;
	padding-bottom:0.9em;
}
-->
</style>

<form method="post" action="/home/SellerFormGetAction.html">        
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tbody><tr>
    <td><br>
    <div class="oList">
	  <p><b>Eight steps to selling your home</b></p>
          <ol>
	    <li>
            Define your needs.
Write down all the reasons for selling your home. Ask yourself, "Why do I want to sell and what do I expect to accomplish with the sale?" For example, a growing family may prompt your need for a larger home, or a job opportunity in another city may necessitate a move. For your goals, write down if you'd like to sell your house within a certain time frame or make a particular profit margin.

Work with your real estate agent to map out the best path to achieve your objectives and set a realistic time frame for the sale.
            
            <br><br>
          </li>
          <li>
          Name your price.
Your next objective should be to determine the best possible selling price for your house. Setting a fair asking price from the outset will generate the most activity from other real estate agents and buyers. You will need to take into account the condition of your home, what comparable homes in your neighborhood are selling for, and state of the overall market in your area. It's often difficult to remain unbiased when putting a price on your home, so your real estate agent's expertise is invaluable at this step. Your agent will know what comparable homes are selling for in your neighborhood and the average time those homes are sitting on the market. If you want a truly objective opinion about the price of your home, you could have an appraisal done. This typically costs a few hundred dollars. 

Remember: You're always better off setting a fair market value price than setting your price too high. Studies show that homes priced higher than 3 percent of their market value take longer to sell. If your home sits on the market for too long, potential buyers may think there is something wrong with the property. Often, when this happens, the seller has to drop the price below market value to compete with newer, reasonably priced listings.<br><br>
          </li>
          <li>
          Prepare your home.
Most of us don't keep our homes in "showroom" condition. We tend to overlook piles of boxes in the garage, broken porch lights, and doors or windows that stick. It's time to break out of that owner's mindset and get your house in tip-top shape. The condition of your home will affect how quickly it sells and the price the buyer is willing to offer. 

First impressions are the most important. Your real estate agent can help you take a fresh look at your home and suggest ways to stage it and make it more appealing to buyers. 
 
* A home with too much "personality" is harder to sell. Removing family photos, mementos and personalized d?cor will help buyers visualize the home as theirs. 
* Make minor repairs and replacements. Small defects, such as a leaky faucet, a torn screen or a worn doormat, can ruin the buyer's first impression.
* Clutter is a big no-no when showing your home to potential buyers.  Make sure you have removed all knick-knacks from your shelves and cleared all your bathroom and kitchen counters to make every area seem as spacious as possible.
<br><br>
          </li>
          <li>
          Get the word out.
Now that you're ready to sell, your real estate agent will set up a marketing strategy specifically for your home. There are many ways to get the word out, including:

* The Internet
* Yard signs
* Open houses
* Media advertising
* Agent-to-agent referrals
* Direct mail marketing campaigns

In addition to listing your home on the MLS, your agent will use a combination of these tactics to bring the most qualified buyers to your home. Your agent should structure the marketing plan so that the first three to six weeks are the busiest.
<br><br>
          </li>
        <li>
        Receive an offer.
When you receive a written offer from a potential buyer, your real estate agent will first find out whether or not the individual is prequalified or preapproved to buy your home. If so, then you and your agent will review the proposed contract, taking care to understand what is required of both parties to execute the transaction. The contract, though not limited to this list, should include the following:
 
* Legal description of the property 
* Offer price 
* Down payment 
* Financing arrangements 
* List of fees and who will pay them 
* Deposit amount 
* Inspection rights and possible repair allowances 
* Method of conveying the title and who will handle the closing 
* Appliances and furnishings that will stay with the home 
* Settlement date 
* Contingencies 

At this point, you have three options: accept the contract as is, accept it with changes (a counteroffer), or reject it. Remember: Once both parties have signed a written offer, the document becomes legally binding. If you have any questions or concerns, be certain to address them with your real estate agent right away.
            <br>
            <br>
          </li>
          <li>
          Negotiate to sell.
Most offers to purchase your home will require some negotiating to come to a win-win agreement. Your real estate agent is well versed on the intricacies of the contracts used in your area and will protect your best interest throughout the bargaining. Your agent also knows what each contract clause means, what you will net from the sale and what areas are easiest to negotiate. Some negotiable items:
 
* Price 
* Financing 
* Closing costs 
* Repairs 
* Appliances and fixtures 
* Landscaping 
* Painting 
* Move-in date

Once both parties have agreed on the terms of the sale, your agent will prepare a contract.
            <br>
            <br>
          </li>
          <li>
          Prepare to close.
Once you accept an offer to sell your house, you will need to make a list of all the things you and your buyer must do before closing. The property may need to be formally appraised, surveyed, inspected or repaired. Your real estate agent can spearhead the effort and serve as your advocate when dealing with the buyer's agent and service providers. Depending on the written contract, you may pay for all, some or none of these items. If each procedure returns acceptable results as defined by the contract, then the sale may continue. If there are problems with the home, the terms set forth in the contract will dictate your next step. You or the buyer may decide to walk away, open a new round of negotiations or proceed to closing.

Important reminder: A few days before the closing, you will want to contact the entity that is closing the transaction and make sure the necessary documents will be ready to sign on the appropriate date. Also, begin to make arrangements for your upcoming move if you have not done so.
            <br>
            <br>
          </li>
          <li>
          Close the deal.
"Closing" refers to the meeting where ownership of the property is legally transferred to the buyer. Your agent will be present during the closing to guide you through the process and make sure everything goes as planned. By being present during the closing, he or she can mediate any last-minute issues that may arise. In some states, an attorney is required and you may wish to have one present. 

After the closing, you should make a "to do" list for turning the property over to the new owners. Here is a checklist to get you started.

* Cancel electricity, gas, lawn care, cable and other routine services.
* If the new owner is retaining any of the services, change the name on the account.
* Gather owner's manuals and warranties for all conveying appliances.
            <br>
            <br>
          </li>
          </ol>
    </div>	</td>
  </tr>
    <tr>
      <td align="center">
        <input class="button" type="submit" value="Contact us about selling a property" name="Submit">
      </td>
  </tr>
</tbody></table>
</form>

    <!-- ################ END START DYNAMIC CONTENT ################### -->
     

     













</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>