	        <div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    <div id="content"><style type="text/css">
<!--
.oList {
       padding:8px;
}
.oList li{
	font-size:1.1em;
	line-height:1em;
}
-->
</style>

<form method="post" action="/home/BuyerFormGetAction.html">
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tbody><tr>
    <td><br>
	  <p><b>Location, location, location</b></p>
          Where you buy not only affects the home's current and future value, but it also affects your lifestyle. Your agent will be able to conduct a more targeted home search if you outline your preferences in neighborhoods and nearby amenities. Here's a checklist of items you should consider and communicate to your chosen real estate agent.
          <br><br>
		  <span style="line-height:1.5em;">
        * Urban, suburban or rural<br>
        * Commute time<br>
        * School districts<br>
        * Desirable neighborhoods<br>
        * Proximity to the airport<br>
        * Proximity to restaurants and retail<br>
        * Access to major highways and thoroughfares<br>
        * Access to public transportation<br>
        * Health care facilities<br>
        * Parks and recreation<br>
        * Length of time you plan to live in the home (Your agent should be knowledgeable about growth trends and projections that could affect your investment.)<br><br>         
        </span>
	</td>
  </tr>
  <tr>
      <td align="center">
        <input class="button" type="submit" value="Contact us about buying your home" name="Submit">
      </td>
  </tr>    
</tbody></table>
</form>
</div>

    <!-- ################ END START DYNAMIC CONTENT ################### -->
     
     













</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>
