	        <div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    <div id="content"><style type="text/css">
<!--
.oList {
       padding:8px;
}
.oList li{
	font-size:1.1em;
	line-height:1em;
}
-->
</style>

<form method="post" action="/home/BuyerFormGetAction.html">
<br><p>
  </p><p></p><table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tbody><tr>
    <td><br>
	  <p><b>Opting for new home construction</b></p>
          Whether to buy an existing home or have one built is yet another decision to make during the home-buying process. If you decide to go with new construction, a real estate agent can be a powerful advocate in your corner as you negotiate upgrades, a move-in date and other terms with the home builder.
            <br>
            Below are some basic pointers to prepare you for the journey ahead. 
          <br><br>
            <strong>Selecting a builder</strong><br>
            Shopping for a large production or custom home builder can be a daunting task. Start by defining what architectural styles appeal to you and then seek out the builders in your area who offer those styles. Due diligence is essential. Ask friends for referrals to get firsthand accounts; verify the builder's state license status, if applicable; and check whether they're certified by the National Association of Home Builders.
<br><br>
            <strong>The builder representative and your real estate agent</strong><br>
            A builder representative's ultimate goal is to sell you a home. His or her role is to provide a wide range of information to help you in your decision-making, from building restrictions, roads and easements to inspections, warranties, rebates and upgrades. A real estate agent knowledgeable in new-home construction will be able to help you wade through all the data and point out the downsides and upsides of each line item. Your agent also can look out for your interests in reviewing the builder's contract, which often contains more legal jargon than consumer-friendly language.
<br><br>
            <strong>It's all about timing</strong><br>
            Market conditions greatly dictate a builder's incentive to make a deal you cannot refuse. When a builder has inventory on his hands, his carrying costs start adding up. When this happens, a builder might be more amenable to strike a favorable deal, whether it's throwing in upgrades or taking a bit off the asking price. A real estate agent can help you know when market conditions are right for these benefits. Also, watch for builder close-out sales. Builders promote these special events when a new subdivision is near completion but empty inventory still remains.  
<br><br>
            <strong>A word about paying up</strong><br>
            While there are always exceptions, most builders require a deposit when a purchase agreement is signed. They also require that the buyer pay for any upgrades prior to closing. If you back out prior to closing, unless the agreement states otherwise, you will lose that money. Make sure you understand every detail in the builder's contract before signing it.   
    </td>
  </tr>
  <tr>
      <td align="center"><br>
        <input class="button" type="submit" value="Contact us about buying your home" name="Submit">
      </td>
  </tr>
</tbody></table>
</form>
</div>
    <!-- ################ END START DYNAMIC CONTENT ################### -->
     

     













</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>
