	        <div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    <div id="content"><style type="text/css">
<!--
.oList {
       padding:8px;
}
.oList li{
	font-size:1.1em;
	line-height:1.1em;
}
-->
</style>

<form method="post" action="/home/BuyerFormGetAction.html">
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tbody><tr>
    <td>
	  <p><b>How can a real estate agent help me?</b></p>
          <br>
          <p><b>Seven main roles of your real estate agent</b></p>
          <br>
          <div class="oList">
            A Buyer's Real Estate Agent:<br>
          <ol>
            <li>Educates you about your market.</li>
            <li>Analyzes your wants and needs.</li>
            <li>Guides you to homes that fit your criteria.</li>
            <li>Coordinates the work of other needed professionals.</li>
            <li>Negotiates on your behalf.</li>
            <li>Checks and double-checks paperwork and deadlines.</li>
            <li>Solves any problems that may arise.</li>
          </ol>

        </div>
          <br><br><br>
    </td>
  </tr>
  <tr>
      <td align="center">
        <input class="button" type="submit" value="Contact us about buying your home" name="Submit">
      </td>
  </tr>    
</tbody></table>
</form>
</div>

    <!-- ################ END START DYNAMIC CONTENT ################### -->
     

     













</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>