	        <div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    <style type="text/css">
<!--
.oList {
       padding:8px;
}
.oList li{
	font-size:1.1em;
	line-height:1em;
}
-->
</style>

<form method="post" action="/home/SellerFormGetAction.html">
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tbody><tr>
    <td><br>
	  <p><b>Practicing good seller's etiquette</b></p>
          Let's face it: When your house goes on the market, you're not only opening the door to prospective buyers, but also sometimes to unknown vendors and na?ve or unqualified buyers. As with any business transaction, there is an expected protocol to how sellers, buyers and their respective agents interact. Should you find yourself in a sticky situation, alert your agent so he or she can address and remedy the problem.
          <br><br>
          
          The aggressive agent<br>
When your agent puts your house on the market, typically all promotional materials state clearly that your agent is the primary contact for buyers and buyers' agents. However, sometimes a buyer's agent will contact a seller directly to try to either win over their business or cut the seller's agent out of the deal. This is not reputable behavior and you should report it to your agent immediately if it happens to you. <br><br>

The unscrupulous vendor<br>
Have you ever started a business or moved into a new house and suddenly found your mailbox full of junk mail? Unfortunately, this also can happen when you put your house on the market. When you sell your home, it necessitates all kinds of new purchasing decisions and less-than-ethical vendors are keenly aware of this. Though MLS organizations enforce rules on how posted information is used, some companies have found ways to cull information from various sources to produce mass mailing lists. If you find yourself regularly emptying your mailbox of junk, let your agent know. He or she can tap the appropriate sources to prompt an investigation into the matter.  <br><br>

The na?ve buyer<br>
Yard signs, Internet listings and other advertisements can generate a lot of buzz for your home. Some prospective buyers - particularly first-timers - will be so buzzed to see your home that they'll simply drop by. If this happens, no matter how nice these unexpected visitors are, it's best not to humor their enthusiasm by discussing your home or giving an impromptu tour. Instead, politely let them know that your real estate agent is in charge of scheduling tours and provide them with the agent's contact information. If you attempt to handle these surprise visits on your own, you might inadvertently disclose information that could hurt you during negotiations down the road.          
          </td>
  </tr>
  <tr>
      <td align="center"><br>
        <input class="button" type="submit" value="Contact us about selling a property" name="Submit">
      </td>
  </tr>
</tbody></table>
</form>

    <!-- ################ END START DYNAMIC CONTENT ################### -->
     

     













</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>