	        <div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    




<style type="text/css">
<!--
.oList {
       padding:8px;
}
.oList li{
	font-size:1.1em;
	line-height:2em;
}
-->
</style>




 <div id="content">
 <div class="oList">

<!-- any changes made here may require changes in the com.kw.websiteTemplate.controller.action.user.AdditionalPageGetAction also due to the way the lead generation code works-->
<div id="main_content"><p><a href="/home/ThisMonth.html">This Month In Real Estate</a></p>
<p><a href="/home/EightStepsSell.html">Eight steps to selling your home</a></p>
<p><a href="/home/SellerQuestions.html">How can a real estate agent help me sell my home</a></p>
<p><a href="/home/SellerHowPrice.html">How to price to sell and still make a profit</a></p>
<p><a href="/home/SellerGoodEtiquette.html">Practicing good seller's etiquette</a></p>
<p><a href="/home/SellerUnderstand.html">Understanding the buyer</a></p>
<p><a href="/home/SellerIncreaseAppeal.html">Increasing your home's appeal</a></p>
<p><a href="/home/Mortgage.html">Mortgage Calculator</a></p>
<p><a href="/home/SellerFormGetAction.html">Contact us about selling a property</a></p>
</div>
</div>
</div>
    <!-- ################ END START DYNAMIC CONTENT ################### -->
     













</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>