	        <div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    <style type="text/css">
<!--
.oList {
       padding:8px;
}
.oList li{
	font-size:1.1em;
	line-height:1em;
}
.buyersrec {
	line-height:1.5em;
}
-->
</style>

<form method="post" action="/home/SellerFormGetAction.html">        
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tbody><tr>
    <td><br>
	  <p><b>Increasing your home's appeal</b></p>
          Remember the 60-second rule: That's all the time you have to create a winning first impression. Here are some simple to significant ways to maximize your home's appeal.
          <br><br>
          <strong>Exterior</strong><br>
          <br><span class="buyersrec">
* Keep the grass cut and remove all yard clutter.<br>
* Weed and apply fresh mulch to flower beds.<br>
* Apply fresh paint to wooden fences.<br>
* Tighten and clean all door handles.<br>
* Clean windows inside and out.<br>
* Powerwash home's exterior.<br>
* Ensure all gutters and downspouts are firmly attached and functioning.<br>
* Paint the front door.<br>
* Buy a new welcome mat.<br>
* Place potted flowers near the front door.<br><br></span>

          <strong>Interior</strong><br>
          <br><span class="buyersrec">
* Evaluate the furniture in each room and remove anything that interrupts "the flow" or makes the room appear smaller. Consider renting a storage unit to move items off-site.<br>
* Clean and organize cabinets, closets and bookshelves.<br>
* Clean all light fixtures and ceiling fans.<br>
* Shampoo carpets.<br>
* Remove excessive wall hangings and knick-knacks.<br>
* Repair all plumbing leaks, including faucets and drain traps.<br>
* Make minor repairs (torn screens, sticking doors, cracked caulking).<br>
* Clean or paint walls and ceilings.<br>
* Replace worn cabinet and door knobs.<br>
* Fix or replace discolored grout.<br>
* Replace broken tiles.<br>
* Replace worn countertops.<br><br></span>

          <strong>Special details for showings</strong><br>
          <br><span class="buyersrec">
* Turn on all the lights.<br>
* Open all drapes and shutters in the daytime.<br>
* Keep pets secured outdoors.<br>
* Buy new towels for bathrooms.<br>
* Buy new bedding for bedrooms.<br>
* Replace old lamps or lampshades.<br>
* Play quiet background music.<br>
* Light the fireplace or clean out the ashes and light a candelabrum.<br>
* Infuse home with a comforting scent, such as apple spice or vanilla.<br>
* Set the dining room table for a fancy dinner party.<br>
* Vacate the property while it is being shown. <br></span>
          
          
          
    </td>
  </tr>
  <tr>
      <td align="center">
        <input class="button" type="submit" value="Contact us about selling a property" name="Submit">
      </td>
  </tr>
</tbody></table>
</form>
    <!-- ################ END START DYNAMIC CONTENT ################### -->
     














</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>