	        <div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    <style type="text/css">
<!--
.oList {
       padding:8px;
}
.oList li{
	font-size:1.1em;
	line-height:1.2em;
	padding-bottom:0.6em;
}
-->
</style>

<form method="post" action="/home/SellerFormGetAction.html">        
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tbody><tr>
    <td>
	
	<div class="oList">
	
	  <p><b>10 Questions to Ask Your Realtor about Selling a House</b></p>
	  <ol>
	    <li>Are you a full-time professional real estate agent? How long have you worked full time in real estate? How long have you been representing buyers? What professional designations do you have?<br>
 Knowing whether or not your agent practices full time can help you determine potential scheduling conflicts and his or her commitment to your transaction. As with any profession, the number of years a person has been in the business does not necessarily reflect the level of service you can expect, but it is a good starting point for your discussion. The same issue can apply to professional designations.</li>
	    <li>Do you have a personal assistant, team or staff to handle different parts of the purchase? What are their names and how will each of them help me in my transaction? How do I communicate with them?<br>
It is not uncommon for agents who sell a lot of houses to hire people to work with them. As their businesses grow, they must be able to deliver the same or higher quality service to more people.<br>
You may want to know who on the team will take part in your transaction, and what role each person will play. You may even want to meet the other team members before you decide to work with the team. If you have a question about fees on your closing statement, who would handle that? Who will show up to your closing? </li>
	    <li>Do you have a Website that will list my home? Can I have your URL address? Who responds to emails and how quickly?  What's your email address?<br>
Many buyers prefer to search online for homes because it's available 24 hours a day and can be done at home.  So you want to make sure your home is listed online, either on the agent's Website or on their company's site. By searching your agent's Website you will get a clear picture of how much information is available online.</li>
	    <li>How will you keep in contact with me during the selling process, and how often?<br>
Some agents may email, fax or call you daily to tell you that visitors have toured your home, while others will keep in touch weekly. Asking this question can help you to reconcile your needs with your agent's systems.</li>
	    <li>What do you do that other agents don't that ensures I'm getting top dollar for my home? What is your average market time versus other agents' average market time?<br>
Marketing skills are learned, and sometimes a real estate professional's unique method of research and delivery make the difference between whether or not a home sells quickly. For example, an agent might research the demographics of your neighborhood and present you a target market list for direct marketing purposes.</li>
		<li>Will you give me names of past clients?<br>
Interviewing an agent can be similar to interviewing someone to work in your office. Contacting references can be a reliable way for you to understand how he or she works, and whether or not this style is compatible with your own.</li>
		<li>Do you have a performance guarantee? If I am not satisfied with your performance, can I terminate our listing agreement?<br>
In the heavily regulated world of real estate, it can be difficult for an agent to offer a performance guarantee. If your agent does not have a guarantee, it does not mean they are not committed to high standards. Typically, he or she will verbally outline what you can expect from their performance. Keller Williams? Realty understands the importance of win-win business relationships: the agent does not benefit if the client does not also benefit.</li>
		<li>How will you get paid? How are your fees structured? May I have that in writing?<br>
In many areas, the seller pays all agent commissions. Sometimes, agents will have other small fees, such as administrative or special service fees, that are charged to clients, regardless of whether they are buying or selling. Be aware of the big picture before you sign any agreements. Ask for an estimate of costs from any agent you contemplate employing.</li>
		<li>How would you develop pricing strategies for our home? <br>
Although location and condition affect the selling process, price is the primary factor in determining if a home sells quickly, or at all. Access to current property information is essential, and sometimes a pre-appraisal will help. Ask your agent how they created the market analysis, and whether your agent included For Sale by Owner homes, foreclosed homes and bank-owned sales in that list.</li>
		<li>What will you do to sell my home? Who determines where and when my home is marketed/ promoted? Who pays for your advertising? <br>
Ask your real estate agent to present to you a clear plan of how marketing and advertising dollars will be spent. If there are other forms of marketing available but not specified in the plan ask who pays for those. Request samples or case studies of the types of marketing strategies that your agent proposes (such as Internet Websites, print magazines, open houses, and local publications).</li>
	  </ol>
	</div>	</td>
  </tr>
  <tr>
      <td align="center">
        <input class="button" type="submit" value="Contact us about selling a property" name="Submit">
      </td>
  </tr>
</tbody></table>
</form>


    <!-- ################ END START DYNAMIC CONTENT ################### -->
     
     













</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>