<div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    <style type="text/css">
<!--
.oList {
       padding:8px;
}
.oList li{
	font-size:1.1em;
	line-height:1em;
}
-->
</style>

<form method="post" action="/home/SellerFormGetAction.html">        
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tbody><tr>
    <td><br>
	  <p><b>How to price to sell and still make a profit</b></p>
          The asking price you set for your home significantly affects whether you will profit in the sale, how much you will profit and how long your home will sit on the market. Your real estate agent's knowledge of the overall market and what's selling - or not selling - will be invaluable in helping you determine the price. The objective is to find a price that the market will bear but won't leave money on the table.
          <br><br>
          
         Here are some points to consider:

Time. Time is not on your side when it comes to real estate. Although many factors influence the outcome, perhaps time is the biggest determinant in whether or not you see a profit and how much you profit. Studies show that the longer a house stays on the market, the less likely it is to sell for the original asking price. Therefore, if your goal is to make money, think about a price that will encourage buyer activity (read: fair market value).<br><br>

Value vs. Cost. Pricing your home to sell in a timely fashion requires some objectivity. It's important that you not confuse value with cost - in other words, how much you value your home versus what buyers are willing to pay for it. Don't place too much emphasis on home improvements when calculating your price, because buyers may not share your taste. For instance, not everyone wants hardwood floors or granite countertops. <br><br>

Keep it simple. Because time is of the essence, make it easy for the buyers. Remain flexible on when your agent can schedule showings. Also, avoid putting contingencies on the sale. Though a desirable move-in date makes for a smoother transition between homes, it could cause you to lose the sale altogether. <br><br>

          
          
    </td>
  </tr>
  <tr>
      <td align="center">
        <input class="button" type="submit" value="Contact us about selling a property" name="Submit">
      </td>
  </tr>
</tbody></table>
</form>


    <!-- ################ END START DYNAMIC CONTENT ################### -->
     
     













</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>