	        <div id="mainCol">
<!-- /WRAPPERTOP -->
    <!-- ################ START DYNAMIC CONTENT ################### -->
    












    
    


    
    
    


    
    <div id="content">
        
        
        
            <p style="text-align: center"><span style="color: #000080"><strong><span style="font-size: large"><span><span style="font-family: Tahoma">The Paul Huang Team<br>
</span></span></span></strong></span></p>
<span style="font-size: medium"><span style="font-family: Tahoma"><br>
Buying and selling real estate can be a complex process. Local real estate market conditions can change quickly and unexpectedly, making decisions about home buying and selling difficult for the average homeowner. The solution is to find professional advice and assistance from a team of seasoned professional realtors, like those at The Paul Huang Team of Keller Williams Realty. <br>
<br>
All of our agents are experienced, licensed professionals and <a href="http://homebuying.about.com/od/realestateagents/qt/RealtorvsAgent.htm"><span style="font-family: Arial"><span style="font-size: medium"><strong>REALTORS® </strong></span></span></a>with training. That professionalism and expertise&nbsp;assure you of top results and help make every real estate transaction smooth and successful. Whatever the transaction may be, the clients needs are always our top priority. Our dedication to satisfying every customer never flags. Whether youre a first-time home buyer or a professional real estate investor, youll always find courteous, expert assistance for your every real estate need from The Paul Huang Team. We never engage in hard-sell tactics or pressure our clients. Our priority is always to help you reach your goals on your individual timeline. <br>
<br>
When you choose The Paul Huang Team to be your real estate partner for any transaction, youre choosing a real estate team that will work 110% for you. <br>
<br>
Call us or contact us today with your real estate questions and plans. The sooner we get started, the sooner youll have the results you want. Let us show you why weve earned our top ranking and how we can help you buy or sell real estate in the Great Boston area.<br>
</span></span>&nbsp; <br>
<table border="0" cellspacing="1" cellpadding="1" width="800">
    <tbody>
        <tr>
            <td width="170"><span style="font-size: small"><img alt="" style="width: 155px; height: 155px" src="./ThePaulHuangTeam_files/nancy3_1359473253659.jpg"><br>
            </span></td>
            <td>
            <div style="margin: 0in 0in 0pt"><strong><font size="3">&nbsp;&nbsp; Nancy Antonopoulos&nbsp;</font></strong> <font size="3">- Real Estate Agent,&nbsp;Realtor® - (978) 835-3040</font>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;<br>
            &nbsp;&nbsp;<span style="font-size: larger"> Its been my pleasure to work in real estate for the past 10 years with proven success&nbsp;for both buyers and sellers. My high standards of &nbsp;integrity, commitment and loyalty to every client has proven successful in todays real estate community. My experience with new &nbsp;construction and local marketing for many years will bring you quick and efficient results. The ability to hear what my clients have to say.&nbsp;Making each transaction smooth and successful. The knowledge of how to get the job done.<br>
            <br>
            </span></div>
            <ul>
                <li><span style="font-size: larger">10 years experience,&nbsp; Real Estate broker </span></li>
                <li><span style="font-size: larger">3 years Broker/Owner new construction </span></li>
                <li><span style="font-size: larger">Licensed in MA and NH </span></li>
                <li><span style="font-size: larger">6 years as an Accredited Buyer Representative </span></li>
                <li><span style="font-size: larger">Member Northeast Association of Realtors </span></li>
                <li><span style="font-size: larger">1993 Licensed Appraiser </span></li>
            </ul>
            </div>
            </td>
        </tr>
        <tr>
            <td>
            <div><img alt="" width="150" height="225" src="./ThePaulHuangTeam_files/Becky_pic_1359434904987.jpg"></div>
            </td>
            <td>
            <div><strong><font size="3"><br>
            &nbsp;&nbsp; Becky Ho&nbsp;</font></strong><font size="3">- Real Estate Agent,&nbsp;Realtor® - (781) 883-5786<br>
            <br>
            </font></div>
            <div>&nbsp;&nbsp;&nbsp; <span style="font-size: larger"><span>Born and raised in Hong Kong, Becky is proud of her Chinese heritage and work ethic taught to her by her parents. She earned her first degree in Computer Science from University of Manchester, England and master degree from RPI, Troy NY. Becky has spent the last 30+ years living in Boston area and raised their 2 children immersed in all life that Lexington has to offer. Prior to finding her calling in real estate, Becky was a senior computer engineer with Digital Equipment Corporation in Andover, MA. Her computer background proves a big help in navigating the ever increasing technical need of the real estate marketplace. <br>
            <br>
            &nbsp;&nbsp;&nbsp; Becky was a Sapphire Medallion Award winner at Carlson GMAC and Hammond Residential RE before joining the Paul Huang Team at Keller Williams Realty. She is a full time, experienced and professional realtor who can truly represent your interests and needs. She takes pride in locating the perfect home for buyers and helping sellers get their home sold fast and for the top dollar. Becky is also proud to be able to give back to the community, she is a volunteer and participant for Meals-on-Wheels, Walk for Hunger and Tufts 10K. In her spare time, she enjoys spending time with her family, friends and Mochi, the Yorkiepoo. She is also passionate about ethic cuisine, Chinese dancing, biking and traveling.</span></span></div>
            </td>
        </tr>
        <tr>
            <td>
            <div><img alt="" width="150" height="218" src="./ThePaulHuangTeam_files/Anita_Pic_1359434904999.jpg">&nbsp;</div>
            </td>
            <td>
            <div><strong><font size="3"><br>
            &nbsp;&nbsp; Anita Lin&nbsp;</font></strong><font size="3">- Real Estate Agent,&nbsp;Realtor® - (617) 584-3377<br>
            </font><br>
            &nbsp;&nbsp;&nbsp; <span style="font-size: larger">Anita has great passions for interior design and real estate, and she enjoys helping people in finding a place they can call home and staging a house for sale for top dollar by implementing her skills in interior decorating.&nbsp; She is thrilled to have a career that combines all these interests for our clients, for clients she is committed to as our most important assets. Work experience as a personal banker for high-net-worth clients, she possesses the ability of providing the quality relationship management and customer satisfaction service.</span></div>
            <div><span style="font-size: larger"><br>
            &nbsp;&nbsp;&nbsp; Anita holds a Certificate of Associate Diploma in Interior Design and Decoration of RHODEC International.<br>
            <br>
            &nbsp;&nbsp;&nbsp; Anita offers consultation in Home Staging. She speaks Mandarin Chinese, English, and Taiwanese.</span></div>
            </td>
        </tr>
    </tbody>
</table>
<div>&nbsp;</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
        
        
    </div>
    







    



    <!-- ################ END START DYNAMIC CONTENT ################### -->
     













</div>

    <div id="footer">
        











    </div>

</div>  
</div>
</div>

    <br>