<div id="mainCol">
<!-- /WRAPPERTOP -->
<!-- ################ START DYNAMIC CONTENT ################### -->
<div id="content"><strong>THIS MONTH IN REAL ESTATE<br>
<br> 
This Month in Real Estate is a monthly video news series that offers an inside look at the national real estate market. Each edition provides a snapshot of the numbers and trends that drive the real estate market, as well as expert opinion and analysis. 
</strong>
<br>
<br>
<br>
<center>
<object width="480" height="385"><param name="movie" value="http://www.youtube.com/p/70FB5BC074D3E360?hl=en"><embed src="http://www.youtube.com/p/70FB5BC074D3E360?hl=en" type="application/x-shockwave-flash" width="480" height="385"></object>
</center></div>
<!-- ################ END START DYNAMIC CONTENT ################### -->














</div>

<div id="footer">












</div>

</div>  
</div>
</div>

<br>