/* You must have these css classes ***************************/

.focusBox{
border: 1px solid #ccc;
margin:10px 0 15px 0;
}

.focusBox h3{
	padding:3px;
	margin-bottom:0px;
	font-size:12px;
	color: #b40101;
	
}

.focusContent{
	margin:0;
	font-size:10px;
	padding:5px;
	color:#333333;
	overflow:auto;
	height:200px;
}

.focusContent p{
	margin-top:0px;
	margin-bottom:0px;
}

/* add additional classes here *******************************/
