/* Root = Vertical, Secondary = Vertical */


#kwNav ul,
#kwNav ul li,
#kwNav ul ul {
  margin: 0 auto;
  border: 0 none;
  padding: 0;
  width: 150px; /*For KHTML*/
  list-style: none;
}

#kwNav ul ul{
	border:1px solid white;
}

#kwNav ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

#kwNav ul li {
  float: left; /*For IE 7 lack of compliance*/
  display: block !important; /*For GOOD browsers*/
  display: inline; /*For IE*/
  position: relative;
  
  
  border-bottom:1px solid #ccc;
}

/* Root Menu */
#kwNav ul a {
/*  border: 1px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;*/
  padding:5px 3px 5px 3px;
  
  display: block;
  /*background: #EEE;*/
  color: #000;
  /*font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;*/
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

/* Root Menu Hover Persistence */
#kwNav ul a:hover,
#kwNav ul li:hover a,
#kwNav ul li.iehover a {
  background: #CCC;
  color: #FFF;
}

/* 2nd Menu */
#kwNav ul li:hover li a,
#kwNav ul li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 2nd Menu Hover Persistence */
#kwNav ul li:hover li a:hover,
#kwNav ul li:hover li:hover a,
#kwNav ul li.iehover li a:hover,
#kwNav ul li.iehover li.iehover a {
  background: #CCC;
  color: #FFF;
}

/* 3rd Menu */
#kwNav ul li:hover li:hover li a,
#kwNav ul li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 3rd Menu Hover Persistence */
#kwNav ul li:hover li:hover li a:hover,
#kwNav ul li:hover li:hover li:hover a,
#kwNav ul li.iehover li.iehover li a:hover,
#kwNav ul li.iehover li.iehover li.iehover a {
  background: #CCC;
  color: #FFF;
}

/* 4th Menu */
#kwNav ul li:hover li:hover li:hover li a,
#kwNav ul li.iehover li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 4th Menu Hover */
#kwNav ul li:hover li:hover li:hover li a:hover,
#kwNav ul li.iehover li.iehover li.iehover li a:hover {
  background: #CCC;
  color: #FFF;
}

#kwNav ul ul,
#kwNav ul ul ul,
#kwNav ul ul ul ul {
  display: none;
  position: absolute;
  top: -1px;
  left: 150px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
#kwNav ul li:hover ul ul,
#kwNav ul li:hover ul ul ul,
#kwNav ul li.iehover ul ul,
#kwNav ul li.iehover ul ul ul {
  display: none;
}

#kwNav ul li:hover ul,
#kwNav ul ul li:hover ul,
#kwNav ul ul ul li:hover ul,
#kwNav ul li.iehover ul,
#kwNav ul ul li.iehover ul,
#kwNav ul ul ul li.iehover ul {
  display: block;
}

