/* -- / custom css tool / -- */
body {
      font-family:Arial;
      font-size:14px;
      background-color: #6b90f4;
}
#mainCol .content {
      font-size:14px;
    }

#searchArea{
	
	margin:10px fff;
	border:1px solid #ccc;
	background-color: #D9DADB;
	color:#888;
}
#searchArea h2{
	color:#fff;
	margin:0 0 10px 0;
	padding:0;
	font-size:1.5;
	background-image:none;
}


/* Root Menu */
#kwNav ul a {
  border: 1px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  padding:5px 3px 5px 3px;
  
  display: block;
  background: #efd7af;
  color: #000;
  /*font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;*/
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

#kwNav ul li.open a{                       /* active top level nav */
	color: #FFFFFF;
	background-color:#ff8900;
	border-left: 0px solid #c3222b;
	border-bottom: 1px solid #2C486F;
	font-weight: normal;
}

/* Root Menu Hover Persistence */
#kwNav ul a:hover,
#kwNav ul li:hover a,
#kwNav ul li.iehover a {
  background: #ff8900;
  color: #fff;
}

/* 2nd Menu */
#kwNav ul li:hover li a,
#kwNav ul li.iehover li a {
  background: #dbcfc6;
  color: #000;
} 

/* 2nd Menu Hover Persistence */
#kwNav ul li:hover li a:hover,
#kwNav ul li:hover li:hover a,
#kwNav ul li.iehover li a:hover,
#kwNav ul li.iehover li.iehover a {
  background: #824027;
  color: #FFF;
}

#contactInfo{
text-align:center;
	font-size:14px;
	margin:0px;
	margin-right:1px;
	margin-top:20px;
	margin-bottom:80px;
        color: #fff; 
        background:#990000;
        border:5px solid #990000;

}

#contactInfo a{
        font-size:18px;
	color:#fff;
}

.focusBox{
border: 1px solid #990000;
margin:10px 0 15px 0;
}

/*.focusBox h3{
	padding:3px;
	margin-bottom:0px;
	font-size:16px;
	color: #ffffff;
	border-left-color: #FFCC00;
	border-left-style: solid;
	border-left-width: 5px;
	border-bottom-color: #FFCC00;
	border-bottom-style: solid;
	border-bottom-width: 5px;
         background:#990000;
	
}

.focusContent{
	margin:0;
	font-size:10px;
	padding:2px;
	color:#000000;
	overflow:auto;
	height:235px;
}
.focusContent p{
	margin-top:0px;
	margin-bottom:0px;
	font-size:10px;

}*/